@import url('node_modules/codemirror/lib/codemirror.css');
@import url('node_modules/codemirror/theme/railscasts.css');

.Editor {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: stretch;
  position: relative;
}

.Editor__CodeMirror {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  font-size: 24px;
  overflow-y: auto;
}

.Editor__CodeMirror .CodeMirror {
  flex: 1;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, "monospace" !important;
  height: 100%;;
}

.Editor .Editor__CodeMirror .CodeMirror-selected {
  background: rgba(255, 255, 255, 0.2) !important;
}
