.Schema {
  padding: 8px;
  overflow: auto;
}

.Schema__Table {
  margin-bottom: 8px;
}
.Schema__TableColumns {
  font-size: 12px;
  width: 100%;
}

.Schema__ColumnType {
  font-size: 12px;
  width: 50%;
  color: rgba(255, 255, 255, 0.4);
}
