.Editor {
  flex-basis: 50%;
  max-width: 50%;
}

.Editor__CodeMirror {
  font-size: 20px;
}

.Editor__CodeMirror .CodeMirror {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, "monospace" !important;
}
