@import url('node_modules/normalize.css/normalize.css');
@import url('node_modules/codemirror/lib/codemirror.css');
@import url('node_modules/codemirror/theme/railscasts.css');

html, body, .Content {
  height: 100%;
}

* {
 box-sizing: border-box;
}

body {
  margin: 0;
  background: #2b2b2b;
  color: #f4f1ed;
  font-size: 16px;
}

.Content {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
}
.Content__Top {
  display: flex;
  height: 50%;
  max-height: 500px;
}
