@import url('https://fonts.googleapis.com/css?family=Open+Sans:300:400:600:700');
@import url('node_modules/normalize.css/normalize.css');

html, body, .app {
  height: 100%;
}

* {
 box-sizing: border-box;
}

body {
  margin: 0;
  background: #2b2b2b;
  color: #f4f1ed;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

